body{
  background-image:url(../src/images/bgimg.png);
  background-repeat: no-repeat;
  background-color: #ffff;
  display: flex;
  height: 100%;
  background-size: 700px auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: Trebuchet MS,Tahoma,Arial,sans-serif;
}
.login{
  display: flex;
  width: 800px;
  height: 466px;
  border-radius: 5px;
  background:#f5f7fa;
  box-shadow: 0px 10px 50px 0px #00000026;
  align-items: stretch;
  }
.header{
  margin-top: -160px;
}

.form{
  display: flex;
  position: relative;
  width: 300px;
  min-width: 300px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 130px;

}
.btnl:hover{
  background: #fe8114;
}
.btnl{
  display: flex;
  height: 39px;
  padding: 0px 21px;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #4786ff;
  box-shadow: 0px 5px 15px 0px #00000026;
  text-decoration: none;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  justify-content: center;
  cursor: pointer;
  width: 80px;
}
.btnc{
  display: flex;
  height: 13px;
  padding: 0px 21px;
  color: #fff;
  border-radius: 3px;
  background-color: #181f2c;
  box-shadow: 0px 5px 15px 0px #ffff;
  text-decoration: none;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;

  text-align: center;
  text-transform: uppercase;
  flex: 1;
  cursor: pointer;
  width: 220px;
  height: 45px;
  border: 0px none #ffff;
  background: #181f2c;
  color: #fff;
  
}
.div1{
  margin-top: 80px;
  display: flex;
  position: relative;
  width: 300px;
  min-width: 300px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Trebuchet MS', 'Tahoma', 'Arial', sans-serif;
  
}
.slideflex{
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 0px 5px 5px 0px;
  flex: 1;
}
.subslidef{
  z-index: 999;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0px;
  padding: 30px;
  border-radius: 0px 0px 5px 0px;;
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
.hdiv{
  height: 37px;
  min-height: 37px;
  margin-bottom: 23px;
}
.ul{
  display: flex;
  align-items: center;
}
.li{
  width: 23px;
  height: 7px;
  margin-right: 9px;
  border-radius: 4px;
  background: #f5f7fa;
  transition: width 0.15s linear;
  list-style: none;
}
.slideflex{
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 0px 5px 5px 0px;
  flex: 1;}
.input{
  padding: 13px 25px;
  border: 1px solid #e1e3e6;
  border-radius: 0px;
  font-size: 15px;
  position: relative;
}
.password{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.name{
  color: #979ea3;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.register{
  color: #979ea3;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  padding-top: 5px;
}

.tandc{
  display: flex;
  text-align: center;
}
.foot{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: 10px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
